.add-task { 
    gap: 5px;
    background: transparent;
    border: 1px solid white;
    padding: 6px 18px;
    border-radius: 14px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    outline: none;
}